body {
  background-color: #0f0e24;
  margin: 1.5em;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}

.logo {
  color: white;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
}

.menu {
  width: 2.5em;
  margin-top: -0.6em;
  cursor: pointer;
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(138deg)
    brightness(114%) contrast(101%);
}

.menu:hover {
  filter: invert(86%) sepia(4%) saturate(6812%) hue-rotate(280deg)
    brightness(93%) contrast(82%);
}

.menu:active {
  filter: invert(17%) sepia(51%) saturate(2516%) hue-rotate(277deg)
    brightness(96%) contrast(92%);
}

.hero {
  width: 100%;
  height: auto;
  margin: 0px;
  margin-top: 7em;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 50%;
  z-index: 999;
  text-transform: uppercase;
  background: #1a1441;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.open-nav {
  transform: translateX(0%);
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 8em;
}

.navbar {
  color: white;
  padding: 0.75em 2em;
  display: block;
}
.navbar:hover {
  background: #da8dc3;
}

.navbar:active {
  background: #722470;
}

.close {
  float: right;
  margin: 2em;
  width: 2.5em;
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(138deg)
    brightness(114%) contrast(101%);
}
.close:hover {
  filter: invert(86%) sepia(4%) saturate(6812%) hue-rotate(280deg)
    brightness(93%) contrast(82%);
}
.close:active {
  filter: invert(17%) sepia(51%) saturate(2516%) hue-rotate(277deg)
    brightness(96%) contrast(92%);
}

span {
  color: #da8dc3;
}

@media only screen and (min-width: 680px) {
  body {
    margin: 1.5em 5em;
  }

  .hero {
    width: 100%;
    height: auto;
    margin-top: 7em;
  }
}

@media only screen and (min-width: 800px) {
  .hero {
    width: 100%;
    height: auto;
    margin: 0px;
    margin-top: 5em;
  }
}

@media only screen and (min-width: 920px) {
  .menu {
    display: none;
  }

  nav {
    transform: translateX(0%);
    position: unset;
    display: block;
    width: auto;
    height: auto;
    background: none;
  }

  .close {
    display: none;
  }

  ul {
    display: flex;
    margin: 0;
  }

  .navbar {
    padding: 0.4em 1.5em;
    font-size: 1rem;
  }
  .navbar:hover {
    background: none;
    color: #da8dc3;
  }
  .navbar:active {
    background: none;
    color: #722470;
  }

  .hero {
    width: 100%;
    height: auto;
    margin: 0px;
    margin-top: 3em;
    overflow: hidden;
  }
}

@media only screen and (min-width: 971px) {
  .hero {
    width: 100%;
    height: auto;
    margin: 0px;
    margin-top: 1em;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1032px) {
  .hero {
    width: 100%;
    height: auto;
    margin: 0px;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1051px) {
  .hero {
    width: 100%;
    height: auto;
    margin: -29px;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1131px) {
  .hero {
    width: 100%;
    height: auto;
    margin: -59px;
    overflow: hidden;
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper {
    width: auto;
    margin: 0 auto;
  }

  .hero {
    width: 75%;
    height: auto;
    margin: -59px;
    position: absolute;
    overflow: hidden;
  }
}
